DISCORD_TOKEN=isi_token_bot_kamu_disini
CLIENT_ID=isi_application_id_bot_kamu_disini
GUILD_ID=isi_id_server_kamu_disini
TARGET_CHANNEL_ID=isi_id_channel_tujuan_pfp_disini
LOG_CHANNEL_ID=isi_id_channel_log_moderasi_disini
